HOMEPAGE_VAR_PIHOLE_API_KEY=
HOMEPAGE_ALLOWED_HOSTS=
HOMEPAGE_VAR_NEXTCLOUD_URL=
HOMEPAGE_VAR_NEXTCLOUD_TOKEN=
HOMEPAGE_VAR_GRIMMORY_USER=
HOMEPAGE_VAR_GRIMMORY_PASSWORD=
HOMEPAGE_VAR_NAVIDROME_USER=
HOMEPAGE_VAR_NAVIDROME_TOKEN=
HOMEPAGE_VAR_NAVIDROME_SALT=
HOMEPAGE_VAR_NAVIDROME_URL=
HOMEPAGE_VAR_GRAFANA_USER=
HOMEPAGE_VAR_GRAFANA_PASSWORD=