APP_USER_ID=1000
APP_GROUP_ID=1000
TZ=America/Mexico_City
BOOKLORE_PORT=6060

DATABASE_URL=jdbc:mariadb://mariadb:3306/grimmory
DB_USER=grimmory
DB_PASSWORD=passwordhere

DB_USER_ID=1000
DB_GROUP_ID=1000
MYSQL_ROOT_PASSWORD=passwordhere
MYSQL_DATABASE=grimmory
ALLOWED_ORIGINS=http://grimmory.home,http://MediaVMIP:6060,http://tailscaleip:6060